.logo {
    font-size: x-large;
    font-weight: bold;
    vertical-align: middle;
}

.navbar {
    height: 50px; 
    align-items: center;
}

.navbar-item {
    display: inline-block;
    margin-left: 50px;
    vertical-align: middle;
}