@import "../../styles.scss";

.logo {
    font-size: xx-large;
    font-weight: bold;
}

.navbar {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 50px; 
    align-items: center;
    background-color: $accent-background !important;
}

.navbar-item {
    margin-left: 50px;
    display: inline-flex;
}