@import "@angular/material/theming";
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

@include mat-core();

// $my-app-primary: mat-palette($mat-indigo);
// $my-app-accent: mat-palette($mat-pink, A200, A100, A400);
// $my-app-warn: mat-palette($mat-red);

// $my-app-theme: mat-light-theme(
//     (
//         color: (
//             primary: $my-app-primary,
//             accent: $my-app-accent,
//             warn: $my-app-warn,
//         ),
//     )
// );

// @include angular-material-theme($my-app-theme);
$primary: #c2185b;
$secondary: #a8822b;
$background: #424242;
$accent-background: #313131;
$accent-dark: #212121;
$accent-light: #cccccc;

@import 'ngx-toastr/toastr';

.short-card {
    max-width: 300px;
    float: left;
}

.hover-hand:hover {
    cursor: pointer;
}

html {
    background-color: $background;
    font-family: 'Arial' !important;
}
mat-card {
    background-color: $accent-background !important;
    mat-card-header {
        
        mat-card-title {
            font-weight: bold !important;
            color: $primary !important;
            font-size: xx-large !important;
            margin-left: 20px !important;
            margin-right: 20px !important;
            margin-bottom: 20px !important;
            vertical-align: middle !important;
            
        }
    }
}

mat-form-field {
    height: 80px;
    margin-top: 5px;
    margin-left: 0.5rem;
    width: calc(100% - 0.5rem);
}

mat-card {
    align-items: center;
    margin: 10px;
}

.title-info {
    color: $secondary;
    text-align: center;
    margin: 5%;
}

.margin10 {
    margin: 10%;
}

.margin5 {
    margin: 5%;
}

